/* All styles for your Card Components live here */
.card-container {
    border: .1rem solid gray;
    border-radius: .6rem;
    width: 92%;
    margin: 0 0 1.5rem auto;
}
.card-container:hover{
    cursor: pointer;
}
.card-banner img {
    width:100%;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
}
.card-content {
    padding: 2rem;
}
.card-content span {
    margin: 0;
}