html,
body {
  font-family: 'Roboto', sans-serif;
}
/* clear default focus behaviour */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button {
  border: .05rem solid gray;
  width: 100%;
  font-size: 4rem;
  padding: 0;
}
button:first {
  font-size: 2rem;
}
input {
  border: .01rem solid gray;
  max-width: calc(100% - 2rem);
  padding: 1rem;
  font-size: 4rem;
}